.text-green {
    color:#2f80ed ; font-size: 16px; font-family: 'Open Sans', sans-serif;
}

.h2{
    color: #f78501; font-size: 11px; font-family: 'Open Sans', sans-serif;
}

.p{
    font-size: 11px; font-family: 'Open Sans', sans-serif; 
}



